<div class="container">
  <% if @list_added.length > 0 && @list_added[0][1].parsed_response == nil %>
  <H2>The following songs have been added to your play queue:</H2>
  <ul>
    <% @list_added.each do |song| %>
      <li><%= song[0] %></li>
    <% end %>
  </ul>
  <%= link_to root_path do %>
    <button class="btn btn-outline-success">Add More</button>
  <% end %>
  <% elsif @list_added != [] && @list_added[0][1].parsed_response["error"] != nil %>
    <h2><%= @list_added[0][1].parsed_response["error"]["reason"] %></h2>
    <p><%= @list_added[0][1].parsed_response["error"]["message"] %></p>
    <p>Start playing spotify from your phone or device then try again.</p>
    <%= link_to root_path do %>
    <button class="btn btn-outline-success">Try Again</button>
  <% end %>
  <% else %>
  <h1>Welcome</h1>
  <p>Spot-Random builds you truly random queues of tracks based on your spotify playlists and likes.</p>
  <h5>First, how long do you want the queue to be?</h5>
  <form>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="type-select" id="timeradio" value="time" checked>
      <label class="form-check-label" for="timeradio">
        Choose by length of time (mins and hours)
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="type-select" id="tracksradio" value="tracks">
      <label class="form-check-label" for="tracksradio">
        Choose by number of tracks
      </label>
    </div>
  </form>
  <div class="form">
    <%= form_tag root_path, method: :get do %>
    <div id="tracks-container">
      <%= number_field_tag :tracks,
            params[:tracks],
            class: "form-control",
            placeholder: "How many tracks?",
            required: false,
            min: 1
          %>
    </div>
    <div id="time" class="d-flex">
      <%= number_field_tag :hours,
          params[:hours],
          class: "form-control hours",
          placeholder: "How many Hours?",
          required: false
        %>
      <%= number_field_tag :mins,
          params[:mins],
          class: "form-control mins",
          placeholder: "How many Minutes?",
          required: false
        %>
    </div>
  </div>
    <h5>Next, Choose what playlists to include</h5>
    <!-- <p>Spotify Recommendations:</p>
    <label for="top_artists">Include Songs from my Top Artists</label>
    <%= check_box_tag "top_artists", 'top_artists', false %>
    <label for="top_tracks">Include Songs from my Top tracks</label>
    <%= check_box_tag "top_tracks", 'top_tracks', false %> -->
    <p>You can choose as many as you like</p>
    <ul class="list-group">
      <% @playlists.each do |playlist| %>
        <li class="list-group-item">
          <%= check_box_tag 'selected_playlists[]', playlist["id"] %>
          <%= h playlist["name"] %>
        </li>
      <% end %>
    </ul>
    <div class="button-container">
     <%= submit_tag "BUILD MY PLAY QUEUE", class: "btn btn-success label", id: "submit-button" %>
    </div>
  <% end %>
<% end %>

